<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <% @Response.each_with_index do |closedownInfo, index| %>
      <fieldset class="fieldset2">
        <legend>휴폐업조회 결과확인 - 대량 [<%= (index + 1) %>/<%= @Response.length %>]</legend>
        <ul>
          <li>corpNum (사업자번호) : <%= closedownInfo["corpNum"] %></li>
          <li>type (사업자 과세유형) : <%= closedownInfo["type"] %></li>
          <li>typeDate (과세유형 전환일자) : <%= closedownInfo["typeDate"] %></li>
          <li>state (휴폐업상태) : <%= closedownInfo["state"] %></li>
          <li>stateDate (휴폐업일자) : <%= closedownInfo["stateDate"] %></li>
          <li>checkDate (국세청 확인일자) : <%= closedownInfo["checkDate"] %></li>
        </ul>
      </fieldset>
    <% end %>
    <p class="info"> state (휴폐업상태) : null-알수없음, 0-등록되지 않은 사업자번호, 1-사업중, 2-폐업, 3-휴업</p>
    <p class="info"> type (사업 유형) : null-알수없음, 1-일반과세자, 2-면세과세자, 3-간이과세자, 4-비영리법인, 국가기관</p>
  </fieldset>
</div>
