<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%=request.env['PATH_INFO']%></legend>
    <% @Response.each_with_index do |senderInfo, index| %>
      <fieldset class="fieldset2">
        <legend>전송내역 요약정보 확인 [<%=(index+1)%>/<%=@Response.length%>]</legend>
        <ul>
          <li>rNum (접수번호) : <%=senderInfo["rNum"]%></li>
          <li>sn (일련번호) : <%=senderInfo["sn"]%></li>
          <li>stat (전송 상태코드) : <%=senderInfo["stat"]%></li>
          <li>rlt (전송 결과코드) : <%=senderInfo["rlt"]%></li>
          <li>sDT (전송일시) : <%=senderInfo["sDT"]%></li>
          <li>rDT (결과코드 수신일시) : <%=senderInfo["rDT"]%></li>
          <li>net (전송 이동통신사명) : <%=senderInfo["net"]%></li>
          <li>srt (구 전송 결과코드) : <%=senderInfo["srt"]%></li>
        </ul>
      </fieldset>
    <%end%>
  </fieldset>
</div>
