<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li>itemKey : <%= @Response["itemKey"] %></li>
      <li>taxType : <%= @Response["taxType"] %></li>
      <li>writeDate : <%= @Response["writeDate"] %></li>
      <li>regDT  : <%= @Response["regDT"] %></li>
      <li>issueType : <%= @Response["issueType"] %></li>
      <li>supplyCostTotal  : <%= @Response["supplyCostTotal"] %></li>
      <li>taxTotal : <%= @Response["taxTotal"] %></li>
      <li>purposeType : <%= @Response["purposeType"] %></li>
      <li>issueDT : <%= @Response["issueDT"] %></li>
      <li>lateIssueYN  : <%= @Response["lateIssueYN"] %></li>
      <li>openYN : <%= @Response["openYN"] %></li>
      <li>openDT : <%= @Response["openDT"] %></li>
      <li>stateMemo  : <%= @Response["stateMemo"] %></li>
      <li>stateCode : <%= @Response["stateCode"] %></li>
      <li>nstconfirmNum : <%= @Response["ntsconfirmNum"] %></li>
      <li>ntsresult : <%= @Response["ntsresult"] %></li>
      <li>ntssendDT : <%= @Response["ntssendDT"] %></li>
      <li>ntsresultDT : <%= @Response["ntsresultDT"] %></li>
      <li>ntssendErrCode : <%= @Response["ntssendErrCode"] %></li>
      <li>modifyCode : <%= @Response["modifyCode"] %></li>
      <li>interOPYN : <%= @Response["interOPYN"] %></li>

      <li>invoicerCorpName : <%= @Response["invoicerCorpName"] %></li>
      <li>invoicerCorpNum : <%= @Response["invoicerCorpNum"] %></li>
      <li>invoicerMgtKey : <%= @Response["invoicerMgtKey"] %></li>
      <li>invoicerPrintYN : <%= @Response["invoicerPrintYN"] %></li>

      <li>invoiceeCorpName : <%= @Response["invoiceeCorpName"] %></li>
      <li>invoiceeCorpNum : <%= @Response["invoiceeCorpNum"] %></li>
      <li>invoiceeMgtKey : <%= @Response["invoiceeMgtKey"] %></li>
      <li>invoiceePrintYN : <%= @Response["invoiceePrintYN"] %></li>
      <li>closeDownState : <%= @Response["closeDownState"] %></li>
      <li>closeDownStateDate : <%= @Response["closeDownStateDate"] %></li>

      <li>trusteeCorpName : <%= @Response["trusteeCorpName"] %></li>
      <li>trusteeCorpNum : <%= @Response["trusteeCorpNum"] %></li>
      <li>trusteeMgtKey : <%= @Response["trusteeMgtKey"] %></li>
      <li>trusteePrintYN : <%= @Response["trusteePrintYN"] %></li>
    </ul>
  </fieldset>
</div>
