<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <% @Response.each_with_index do |taxinvoiceInfo, index| %>
      <fieldset class="fieldset2">
        <legend>Taxinvoice Object [<%= (index + 1) %>/<%= @Response.length %>]</legend>
        <ul>
          <li>itemKey : <%= taxinvoiceInfo["itemKey"] %></li>
          <li>taxType : <%= taxinvoiceInfo["taxType"] %></li>
          <li>writeDate : <%= taxinvoiceInfo["writeDate"] %></li>
          <li>regDT  : <%= taxinvoiceInfo["regDT"] %></li>
          <li>issueType : <%= taxinvoiceInfo["issueType"] %></li>
          <li>supplyCostTotal  : <%= taxinvoiceInfo["supplyCostTotal"] %></li>
          <li>taxTotal : <%= taxinvoiceInfo["taxTotal"] %></li>
          <li>purposeType : <%= taxinvoiceInfo["purposeType"] %></li>
          <li>issueDT : <%= taxinvoiceInfo["issueDT"] %></li>
          <li>lateIssueYN  : <%= taxinvoiceInfo["lateIssueYN"] %></li>
          <li>openYN : <%= taxinvoiceInfo["openYN"] %></li>
          <li>openDT : <%= taxinvoiceInfo["openDT"] %></li>
          <li>stateMemo  : <%= taxinvoiceInfo["stateMemo"] %></li>
          <li>stateCode : <%= taxinvoiceInfo["stateCode"] %></li>
          <li>nstconfirmNum : <%= taxinvoiceInfo["ntsconfirmNum"] %></li>
          <li>ntsresult : <%= taxinvoiceInfo["ntsresult"] %></li>
          <li>ntssendDT : <%= taxinvoiceInfo["ntssendDT"] %></li>
          <li>ntsresultDT : <%= taxinvoiceInfo["ntsresultDT"] %></li>
          <li>ntssendErrCode : <%= taxinvoiceInfo["ntssendErrCode"] %></li>
          <li>modifyCode : <%= taxinvoiceInfo["modifyCode"] %></li>
          <li>interOPYN : <%= taxinvoiceInfo["interOPYN"] %></li>

          <li>invoicerCorpName : <%= taxinvoiceInfo["invoicerCorpName"] %></li>
          <li>invoicerCorpNum : <%= taxinvoiceInfo["invoicerCorpNum"] %></li>
          <li>invoicerMgtKey : <%= taxinvoiceInfo["invoicerMgtKey"] %></li>
          <li>invoicerPrintYN : <%= taxinvoiceInfo["invoicerPrintYN"] %></li>

          <li>invoiceeCorpName : <%= taxinvoiceInfo["invoiceeCorpName"] %></li>
          <li>invoiceeCorpNum : <%= taxinvoiceInfo["invoiceeCorpNum"] %></li>
          <li>invoiceeMgtKey : <%= taxinvoiceInfo["invoiceeMgtKey"] %></li>
          <li>invoiceePrintYN : <%= taxinvoiceInfo["invoiceePrintYN"] %></li>
          <li>closeDownState : <%= taxinvoiceInfo["closeDownState"] %></li>
          <li>closeDownStateDate : <%= taxinvoiceInfo["closeDownStateDate"] %></li>

          <li>trusteeCorpName : <%= taxinvoiceInfo["trusteeCorpName"] %></li>
          <li>trusteeCorpNum : <%= taxinvoiceInfo["trusteeCorpNum"] %></li>
          <li>trusteeMgtKey : <%= taxinvoiceInfo["trusteeMgtKey"] %></li>
          <li>trusteePrintYN : <%= taxinvoiceInfo["trusteePrintYN"] %></li>

        </ul>
      </fieldset>
    <% end %>
  </fieldset>
</div>
