<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <fieldset class="fieldset2">
      <legend>알림메일 전송목록 조회</legend>
      <ul>
        <% @Response.each_with_index do |emailConfig| %>
          <li>
            <% if emailConfig["emailType"] == "TAX_ISSUE" %>
              [정발행] TAX_ISSUE (공급받는자에게 전자세금계산서 발행 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_ISSUE_INVOICER" %>
              [정발행] TAX_ISSUE_INVOICER (공급자에게 전자세금계산서 발행 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_CHECK" %>
              [정발행] TAX_CHECK (공급자에게 전자세금계산서 수신확인 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_CANCEL_ISSUE" %>
              [정발행] TAX_CANCEL_ISSUE (공급받는자에게 전자세금계산서 발행취소 메일) : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_SEND" %>
              [발행예정] TAX_SEND (공급받는자에게 [발행예정] 세금계산서 발송 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_ACCEPT" %>
              [발행예정] TAX_ACCEPT (공급자에게 [발행예정] 세금계산서 승인 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_ACCEPT_ISSUE" %>
              [발행예정] TAX_ACCEPT_ISSUE (공급자에게 [발행예정] 세금계산서 자동발행 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_DENY" %>
              [발행예정] TAX_DENY (공급자에게 [발행예정] 세금계산서 거부 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_CANCEL_SEND" %>
              [발행예정] TAX_CANCEL_SEND (공급받는자에게 [발행예정] 세금계산서 취소 메일) : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_REQUEST" %>
              [역발행] TAX_REQUEST (공급자에게 세금계산서를 발행요청 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_CANCEL_REQUEST" %>
              [역발행] TAX_CANCEL_REQUEST (공급받는자에게 세금계산서 취소 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_REFUSE" %>
              [역발행] TAX_REFUSE (공급받는자에게 세금계산서 거부 메일) : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_TRUST_ISSUE" %>
              [위수탁발행] TAX_TRUST_ISSUE (공급받는자에게 전자세금계산서 발행 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_ISSUE_TRUSTEE" %>
              [위수탁발행] TAX_TRUST_ISSUE_TRUSTEE (수탁자에게 전자세금계산서 발행 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_ISSUE_INVOICER" %>
              [위수탁발행] TAX_TRUST_ISSUE_INVOICER (공급자에게 전자세금계산서 발행 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_CANCEL_ISSUE" %>
              [위수탁발행] TAX_TRUST_CANCEL_ISSUE (공급받는자에게 전자세금계산서 발행취소 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_CANCEL_ISSUE_INVOICER" %>
              [위수탁발행] TAX_TRUST_CANCEL_ISSUE_INVOICER (공급자에게 전자세금계산서 발행취소 메일) : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_TRUST_SEND" %>
              [위수탁 발행예정] TAX_TRUST_SEND (공급받는자에게 [발행예정] 세금계산서 발송 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_ACCEPT" %>
              [위수탁 발행예정] TAX_TRUST_ACCEPT (수탁자에게 [발행예정] 세금계산서 승인 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_ACCEPT_ISSUE" %>
              [위수탁 발행예정] TAX_TRUST_ACCEPT_ISSUE (수탁자에게 [발행예정] 세금계산서 자동발행 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_DENY" %>
              [위수탁 발행예정] TAX_TRUST_DENY (수탁자에게 [발행예정] 세금계산서 거부 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_CANCEL_SEND" %>
              [위수탁 발행예정] TAX_TRUST_CANCEL_SEND (공급받는자에게 [발행예정] 세금계산서 취소 메일) : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_CLOSEDOWN" %>
              [처리결과] TAX_CLOSEDOWN (거래처의 휴폐업 여부 확인 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_NTSFAIL_INVOICER" %>
              [처리결과] TAX_NTSFAIL_INVOICER (전자세금계산서 국세청 전송실패 안내) : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_SEND_INFO" %>
              [정기발송] TAX_SEND_INFO (전월 귀속분 [매출 발행 대기] 세금계산서 발행 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "ETC_CERT_EXPIRATION" %>
              [정기발송] ETC_CERT_EXPIRATION (팝빌에서 이용중인 공인인증서의 갱신 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  </fieldset>
</div>