<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <fieldset class="fieldset2">
      <legend>ListEmailConfig</legend>
      <ul>
        <% @Response.each_with_index do |emailConfig| %>
          <li>
            <% if emailConfig["emailType"] == "TAX_ISSUE" %>
              [정발행] TAX_ISSUE : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_ISSUE_INVOICER" %>
              [정발행] TAX_ISSUE_INVOICER : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_CHECK" %>
              [정발행] TAX_CHECK : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_CANCEL_ISSUE" %>
              [정발행] TAX_CANCEL_ISSUE : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_SEND" %>
              [발행예정] TAX_SEND : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_ACCEPT" %>
              [발행예정] TAX_ACCEPT : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_ACCEPT_ISSUE" %>
              [발행예정] TAX_ACCEPT_ISSUE : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_DENY" %>
              [발행예정] TAX_DENY : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_CANCEL_SEND" %>
              [발행예정] TAX_CANCEL_SEND : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_REQUEST" %>
              [역발행] TAX_REQUEST : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_CANCEL_REQUEST" %>
              [역발행] TAX_CANCEL_REQUEST : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_REFUSE" %>
              [역발행] TAX_REFUSE : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_TRUST_ISSUE" %>
              [위수탁발행] TAX_TRUST_ISSUE : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_ISSUE_TRUSTEE" %>
              [위수탁발행] TAX_TRUST_ISSUE_TRUSTEE : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_ISSUE_INVOICER" %>
              [위수탁발행] TAX_TRUST_ISSUE_INVOICER : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_CANCEL_ISSUE" %>
              [위수탁발행] TAX_TRUST_CANCEL_ISSUE : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_CANCEL_ISSUE_INVOICER" %>
              [위수탁발행] TAX_TRUST_CANCEL_ISSUE_INVOICER : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_TRUST_SEND" %>
              [위수탁 발행예정] TAX_TRUST_SEND : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_ACCEPT" %>
              [위수탁 발행예정] TAX_TRUST_ACCEPT : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_ACCEPT_ISSUE" %>
              [위수탁 발행예정] TAX_TRUST_ACCEPT_ISSUE : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_DENY" %>
              [위수탁 발행예정] TAX_TRUST_DENY : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_TRUST_CANCEL_SEND" %>
              [위수탁 발행예정] TAX_TRUST_CANCEL_SEND : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_CLOSEDOWN" %>
              [처리결과] TAX_CLOSEDOWN : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "TAX_NTSFAIL_INVOICER" %>
              [처리결과] TAX_NTSFAIL_INVOICER : <%= emailConfig["sendYN"] %>
            <% end %>

            <% if emailConfig["emailType"] == "TAX_SEND_INFO" %>
              [정기발송] TAX_SEND_INFO : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "ETC_CERT_EXPIRATION" %>
              [정기발송] ETC_CERT_EXPIRATION : <%= emailConfig["sendYN"] %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  </fieldset>
</div>
