<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li>ntsconfirmNum : <%= @Response["ntsconfirmNum"] %></li>
      <li>issueType : <%= @Response["issueType"] %></li>
      <li>taxType : <%= @Response["taxType"] %></li>
      <li>issueTiming : <%= @Response["issueTiming"] %></li>
      <li>chargeDirection : <%= @Response["chargeDirection"] %></li>
      <li>serialNum : <%= @Response["serialNum"] %></li>
      <li>kwon : <%= @Response["kwon"] %></li>
      <li>ho : <%= @Response["ho"] %></li>
      <li>writeDate : <%= @Response["writeDate"] %></li>
      <li>purposeType : <%= @Response["purposeType"] %></li>
      <li>supplyCostTotal : <%= @Response["supplyCostTotal"] %></li>
      <li>taxTotal : <%= @Response["taxTotal"] %></li>
      <li>totalAmount : <%= @Response["totalAmount"] %></li>
      <li>cash : <%= @Response["cash"] %></li>
      <li>chkBill : <%= @Response["chkBill"] %></li>
      <li>credit : <%= @Response["credit"] %></li>
      <li>note : <%= @Response["note"] %></li>
      <li>remark1 : <%= @Response["remark1"] %></li>
      <li>remark2 : <%= @Response["remark2"] %></li>
      <li>remark3 : <%= @Response["remark3"] %></li>

      <li>invoicerMgtKey : <%= @Response["invoicerMgtKey"] %></li>
      <li>invoicerCorpNum  : <%= @Response["invoicerCorpNum"] %></li>
      <li>invoicerTaxRegID  : <%= @Response["invoicerTaxRegID"] %></li>
      <li>invoicerCorpName  : <%= @Response["invoicerCorpName"] %></li>
      <li>invoicerCEOName : <%= @Response["invoicerCEOName"] %></li>
      <li>invoicerAddr : <%= @Response["invoicerAddr"] %></li>
      <li>invoicerBizClass : <%= @Response["invoicerBizClass"] %></li>
      <li>invoicerBizType : <%= @Response["invoicerBizType"] %></li>
      <li>invoicerContactName : <%= @Response["invoicerContactName"] %></li>
      <li>invoicerTEL : <%= @Response["invoicerTEL"] %></li>
      <li>invoicerHP : <%= @Response["invoicerHP"] %></li>
      <li>invoicerEmail : <%= @Response["invoicerEmail"] %></li>
      <li>invoicerSMSSendYN : <%= @Response["invoicerSMSSendYN"] %></li>

      <li>invoiceeMgtKey : <%= @Response["invoiceeMgtKey"] %></li>
      <li>invoiceeType  : <%= @Response["invoiceeType"] %></li>
      <li>invoiceeCorpNum : <%= @Response["invoiceeCorpNum"] %></li>
      <li>invoiceeTaxRegID : <%= @Response["invoiceeTaxRegID"] %></li>
      <li>invoiceeCorpName : <%= @Response["invoiceeCorpName"] %></li>
      <li>invoiceeCEOName : <%= @Response["invoiceeCEOName"] %></li>
      <li>invoiceeAddr : <%= @Response["invoiceeAddr"] %></li>
      <li>invoiceeBizType : <%= @Response["invoiceeBizType"] %></li>
      <li>invoiceeBizClass : <%= @Response["invoiceeBizClass"] %></li>
      <li>closeDownState : <%= @Response["closeDownState"] %></li>
      <li>closeDownStateDate : <%= @Response["closeDownStateDate"] %></li>
      <li>invoiceeContactName1 : <%= @Response["invoiceeContactName1"] %></li>
      <li>invoiceeTEL1 : <%= @Response["invoiceeTEL1"] %></li>
      <li>invoiceeHP1 : <%= @Response["invoiceeHP1"] %></li>
      <li>invoiceeEmail1 : <%= @Response["invoiceeEmail1"] %></li>

      <li>modifyCode : <%= @Response["modifyCode"] %></li>
      <li>orgNTSConfirmNum : <%= @Response["orgNTSConfirmNum"] %></li>
      <li>originalTaxinvoiceKey : <%= @Response["originalTaxinvoiceKey"] %></li>


      <% @Response["detailList"].each_with_index do |detailInfo, index| %>
        <fieldset class="fieldset2">
          <legend>Detail List [<%= (index + 1) %>/<%= @Response["detailList"].length %>]</legend>
          <ul>
            <li>serialNum : <%= detailInfo["serialNum"] %></li>
            <li>purchaseDT : <%= detailInfo["purchaseDT"] %></li>
            <li>itemName  : <%= detailInfo["itemName"] %></li>
            <li>spec : <%= detailInfo["spec"] %></li>
            <li>qty : <%= detailInfo["qty"] %></li>
            <li>unitCost : <%= detailInfo["unitCost"] %></li>
            <li>supplyCost : <%= detailInfo["supplyCost"] %></li>
            <li>tax  : <%= detailInfo["tax"] %></li>
            <li>remark  : <%= detailInfo["remark"] %></li>
          </ul>
        </fieldset>
      <% end %>

      <% @Response["addContactList"].each_with_index do |contactInfo, index| %>
        <fieldset class="fieldset2">
          <legend>addContactList [<%= (index + 1) %>/<%= @Response["addContactList"].length %>]</legend>
          <ul>
            <li>serialNum : <%= contactInfo["serialNum"] %></li>
            <li>contactName : <%= contactInfo["contactName"] %></li>
            <li>email : <%= contactInfo["email"] %></li>
          </ul>
        </fieldset>
      <% end %>
    </ul>
  </fieldset>
</div>
