<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <% @Response.each_with_index do |taxinvoiceLog, index| %>
      <fieldset class="fieldset2">
        <legend>Log List [<%= (index + 1) %>/<%= @Response.length %>]</legend>
        <ul>
          <li>docLogType : <%= taxinvoiceLog["docLogType"] %></li>
          <li>log : <%= taxinvoiceLog["log"] %></li>
          <li>procType : <%= taxinvoiceLog["procType"] %></li>
          <li>procCorpName : <%= taxinvoiceLog["procCorpName"] %></li>
          <li>procContactName : <%= taxinvoiceLog["procContactName"] %></li>
          <li>procMemo : <%= taxinvoiceLog["procMemo"] %></li>
          <li>regDT : <%= taxinvoiceLog["regDT"] %></li>
          <li>ip : <%= taxinvoiceLog["ip"] %></li>
        </ul>
      </fieldset>
    <% end %>
  </fieldset>
</div>
