<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <% @Response.each_with_index do |jobInfo, index| %>
      <fieldset class="fieldset2">
        <legend>수집 상태 목록 확인 [<%= (index + 1) %>/<%= @Response.length %>]</legend>
        <ul>
          <li>jobID (작업아이디) : <%= jobInfo["jobID"] %></li>
          <li>jobState (수집상태) : <%= jobInfo["jobState"] %></li>
          <li>startDate (시작일자) : <%= jobInfo["startDate"] %></li>
          <li>endDate (종료일자) : <%= jobInfo["endDate"] %></li>
          <li>errorCode (오류코드) : <%= jobInfo["errorCode"] %></li>
          <li>errorReason (오류메시지) : <%= jobInfo["errorReason"] %></li>
          <li>jobStartDT (작업 시작일시) : <%= jobInfo["jobStartDT"] %></li>
          <li>jobEndDT (작업 종료일시) : <%= jobInfo["jobEndDT"] %></li>
          <li>regDT (수집 요청일시) : <%= jobInfo["regDT"] %></li>
        </ul>
      </fieldset>
    <% end %>
  </fieldset>
</div>
