<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li>count (수집 결과 건수) : <%= @Response["count"] %></li>
      <li>supplyCostTotal (공급가액 합계) : <%= @Response["supplyCostTotal"] %></li>
      <li>taxTotal (부가세 합계) : <%= @Response["taxTotal"] %></li>
      <li>serviceFeeTotal (봉사료 합계) : <%= @Response["serviceFeeTotal"] %></li>
      <li>amountTotal (합계 금액) : <%= @Response["amountTotal"] %></li>
    </ul>
  </fieldset>
</div>
